/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --main-text-color: #000028;
  --accent-color: #FF0070;
  --header-color: #DB00FF;
  --header-title-color: var(--main-text-color);
  --accent-header: #FF0070;
  --title-color: var(--accent-color);
  --button-color:  var(--accent-color);
  --paragraphly-color: #F1B2CE;
  --hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .header__rec {
  visibility: unset;
}