/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme-light {
  --bg-color: #FFF1F7;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-header-color: #FF0070;
  --header-color: #FFC2E6;
  --paragraphly-color: #353430;
  --title-color: var(--paragraphly-color);
  --button-color: var(--paragraphly-color);
  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__rec {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
:root {
  --bg-color: #FFF1F7;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-header-color: #FF0070;
  --header-color: #FFC2E6;
  --paragraphly-color: #353430;
  --title-color: var(--paragraphly-color);
  --button-color: var(--paragraphly-color);
  --bg-image: url(../images/cover-image-light.png);/* Дублируем переменные светлой темы */    
  }
}
