/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #FFF1F7;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-header: #FF0070;
  --header-color: #FFC2E6;
  --header-title-color: var(--paragraphly-color);
  --paragraphly-color: #353430;
  --title-color: var(--paragraphly-color);
  --hover-color: rgba(50, 49, 45, 0.4);
  --button-color: var(--paragraphly-color);
  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__rec {
  visibility: hidden;
  display: none;
}

@media (prefers-color-scheme: light) {
:root {
  --bg-color: #FFF1F7;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-header: #FF0070;
  --header-color: #FFC2E6;
  --header-title-color: var(--paragraphly-color);
  --paragraphly-color: #353430;
  --title-color: var(--paragraphly-color);
  --hover-color: rgba(50, 49, 45, 0.4);
  --button-color: var(--paragraphly-color);
  --bg-image: url(../images/cover-image-light.png);
}

.header__rec {
  visibility: hidden;
  display: none;
}
}
