/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* a:focus,
button:focus {
  outline: none;
}


a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
} */

.page {
  font-family: var(--main-font, sans-serif); 
  background: var(--bg-image) no-repeat top center var(--bg-color);
  background-attachment: fixed;
  background-size: auto 100%;
}

/* HEADER */

.header {
  position: relative;
  height: 100vh;
}

.header__rec {
  position: absolute;
  display: inline-block;
  color: var(--accent-color);
  top: 22px;
  right: 49px; 
  text-transform: uppercase;
}


.header__rec::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin: 5px 20px 0 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  line-height: 100%;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.decorated-zone::after{
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

.header__theme-menu {
  color: var(--accent-color);
  padding-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 11px;
  padding: 0;
  list-style: none;
}

.header__theme-menu-button {
  font-family: inherit;
  color: var(--accent-color);
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  text-transform: lowercase;
  padding: 1.5px 13px;
  transition: all;
  line-height: 100%;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid currentColor;;
}

.header__theme-menu-button:focus{
  outline: none;
}

.header__theme-menu-button:focus-visible{
  outline: 1px solid currentColor;
  text-decoration: none;
}

.header_content {
  display: flex;
  flex-direction: column;
  gap: 78px;
  padding-block-start: 240px;
  padding-block-end: 134px;
  padding-right: 20px;
}

.header_content_title {
  font-family: inherit;
  font-weight: 700;
  color: var(--header-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_content_subtitle {
  font-weight: 700;
  font-size: 18px;
  align-self: flex-end;
  color: var(--title-color);
  width: 491px;
  line-height: 23px;
}

@media (width < 1024px) {

  .header {
    padding: 0 20px;
  }

  .header__rec {
    right: 48px; 
  }

  .header__theme-menu {
    padding-block-start: 19px;
  }

  .header__theme-menu-list {
      flex-direction: column;
      align-items: flex-end;
  }

  .header_content {
    gap: 162px;
    padding-block-start: 173px;
    padding-block-end: 183px;
  }
}


@media (width < 768px) {

  .header {
    padding: 0 10px;
  }

  .header__rec {
    top: 10px;
    right: 39px; 
  }

  .decorated-zone::before{
    right: 10px;
    top: 10px;
  }

  .decorated-zone::after{
    right: 10px;
    bottom: 10px;
  }

  .header__theme-menu {
    padding-block-start: 75px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .header_content {
    padding-block-start: 65px;
    padding-block-end: 66px;
    gap: 55px;
  }

  .header_content_title  {
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header_content_subtitle {
    width: 100%;
    color: var(--text-color);
  }
}

/* MAIN */

.main{
  padding: 0 20px;
  margin-block-start: 60px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section_list {
  display: grid;
  grid-template-columns: 1fr 66%;
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-block-end: 20px;
}

.section__title_dark {
  color: var(--main-text-color);
}

.about_concentraition {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.article_about_concentraition {
  display: flex;
  flex-direction: column;
}

.title_about_concentraition {
  color: var(--main-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 23px;
}

.title_about_concentraition_better{
  font-weight: 400;
}

.paragraphly_about_concentraition {
  color: var(--paragraphly-color);
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: 23px;
}

.paragraphly__link_about_concentration{
  text-shadow: 4px 4px 0 var(--accent-color);
  border: transparent;
  outline: none;
}

.paragraphly__link_about_concentration:focus {
  outline: none;
}

.paragraphly__link_about_concentration:focus-visible {
  outline: 1px solid var(--paragraphly-color);;
}

.paragraphly__link_about_concentration:hover {
  border-bottom: 1px solid var(--paragraphly-color);
}

@media (width < 1024px) {
  .section__title {
    width: 40%;
  }
}

@media (width < 768px) {

  .main{
    padding: 0 10px;
    margin-block-start: 40px;
    gap: 50px;
  }

  .section_list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .section__title {
    width: 100%;
  }
}

/* Section_gallery */

.section_gallery {
  display: grid;
  gap: 20px;
}

.img_gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img_sunset {
  grid-column: 1/3;
  grid-row: 1/2;
  inline-size: 649px;
  block-size: 260px;
}

.img_ice-cream {
  grid-column: 3/4;
  grid-row: 1/3;
  inline-size: 315px;
  block-size: 595px;
}

.img_tape {
  grid-column: 1/2;
  grid-row: 2/4;
  inline-size: 315px;
  block-size: 768px;
}

.img_books {
  grid-column: 2/3;
  grid-row: 2/3;
  inline-size: 315px;
  block-size: 315px;
}

.img_street {
  grid-column: 2/4;
  grid-row: 3/4;
  inline-size: 649px;
  block-size: 428px;
}

.footer {
  position: relative;
  text-align: center;
  margin-block-start: 60px;
  padding: 319px 20px;
}

.title_footer {
  font-weight: 700;
  color: var(--header-color);
  font-family: inherit;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (width < 1024px) {
  .footer {
    padding: 462px 20px;
  }
}

@media (width < 768px) {
  .footer {
    margin-block-start: 40px;
    padding: 286px 10px;
  }
  
  .title_footer {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
