/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
} */

.page {
  font-family: var(--main-font, monospace);
  background: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-color);
  background-position: center;
  background-attachment: fixed;
  font-size: 18px;
}

/* HEADER */

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  /* padding-top: 20px; */
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__rec {
  position: absolute;
  /* display: inline-block; */
  color: var(--accent-color);
  inset-inline-end: 4.7%;
  inset-block-start: 2.8%;
  text-transform: uppercase;
}


.header__rec::after {
  content: '';
  position: absolute;
  top: 30%;
  right: -55%;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 80%;
  background: var(--accent-color);
  margin: -1% 0 0 1%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  left: 2%;
  bottom: 2.5%;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--button-color);
  border-bottom: 1px solid var(--button-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  right: 2%;
  top: 2.6%;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--button-color);
  border-top: 1px solid var(--button-color);
}


.title-decor {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  font-weight: bold;
  block-size: min-content;
}

.header__theme-menu {
  color: var(--accent-color);
  justify-self: center;
  align-self: start;
  padding-block-start: 1.9%;
}

.header__theme-menu-list {
  /* justify-self: center;
  align-self: flex-start;
  flex-direction: row;
  margin: 0; */
  display: flex;
  justify-content: center;
  gap: 11px;
  list-style: none;
}

.header__theme-menu-button {
  color: var(--button-color);
  border-style: none;
  cursor: pointer;
  font-weight: 400;
  background-color: transparent;
  text-transform: lowercase;
  padding: 1.5px 12.5px 4px;
  transition: all;
  line-height: 100%;
}

.header__theme-menu-button.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
  outline: none;
}

/* .header_content {
  display: flex;
  flex-direction: column;
  gap: 37px;
  width: 100%;
  padding-block-start: 196px;
  padding-block-end: 134px;
  padding-right: 20px;
} */

.header_content_title {
  position: relative;
  text-align: left;
  font-weight: 700;
  color: var(--header-color);
  line-height: 1.83;
  font-size: 157px;
  inline-size: 100%;
  text-shadow: 4px 4px 0 var(--accent-header);
}

.header_content_subtitle {
  justify-self: end;
  font-weight: 700;
  line-height: 1.3;
  color: var(--header-title-color);
  align-items: flex-start;
  margin-block-start: 3.5%;
  margin-inline-end: 2%;
  width: min(491px, 50%);
}

@media (width < 1024px) {

  /* .header {
    padding-right: 20px;
  } */

  .header__rec {
    inset-inline-end: 6.2%;
    inset-block-start: 2.1%;
  }
  
  .header__rec::after {
    top: 30%;
    right: -55%;
    margin: -1% 0 0 1%;
  }

  .decorated-zone::before {
    left: 2.7%;
    bottom: 2%;
  }
  
  .decorated-zone::after {
    right: 2.7%;
    top: 2%;
  }

  .header__theme-menu {
    justify-self: end;
    padding-block-start: 25%;
    padding-inline-end: 2.8%;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
  }

  .header_content_title {
    text-shadow: 4px 4px 0 var(--accent-color);
    line-height: 82.5%;
    font-size: 120px;
  }

  .header_content_subtitle {
    margin-block-start: 21.1%;
    margin-inline-end: 2.8%;
    width: min(364px, 50%);
  }
}


@media (width < 768px) {

  .header__rec {
    inset-inline-end: 10%;
    inset-block-start: 1.8%;
  }
  
  .header__rec::after {
    top: 30%;
    right: -55%;
    margin: 0;
  }

  .decorated-zone::before {
    left: 2.7%;
    bottom: 1.5%;
  }

  .decorated-zone::after {
    top: 1.3%;
    right: 2.7%;
  }

  .header__theme-menu {
    justify-self: end;
    padding-block-start: 20%;
    padding-inline-end: 2.7%;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .header_content_title {
    line-height: 82.5%;
    font-size: var(--logo-size-mobile);
    padding-inline-start: 3%;
  }

  .header_content_subtitle {
    width: min(355px, 100%);
    color: var(--text-color);
    margin-block-start: 15%;
    margin-block-end: 0;
  }
}

/* MAIN */

.section_list {
  display: flex;
  gap: 20px;
  padding: 81px 20px 0;
}

.section_list_word {
  padding-block-start: 60px;
}

.section_list .container-special {
  display: grid;
}

.section_list .section__concentraition_special {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.section__title {
  color: var(--title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  flex: 0 0 32%;
  width: 32%;
}

.section_list_word-special .section__title--special {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 35%;
  width: 35%;
  margin-block-end: 20px;
}

.section_list .section__title_dark {
  color: var(--main-text-color);
  margin-bottom: 0;
  flex: auto;
  width: 100%
}

.about_concentraition {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.article_about_concentraition {
  display: flex;
  flex-direction: column;
}

.title_about_concentraition {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 23px;
}

.title_about_concentraition_better {
  font-weight: 400;
}

.paragraphly_about_concentraition {
  color: var(--paragraphly-color);
  font-weight: 400;
  line-height: 130%;
  margin-block-start: 10px;
}

.paragraphly__link_about_concentration {
  display: inline-block;
  text-shadow: 2px 1.5px 0 var(--accent-color);
  border: transparent;
  outline: none;
  text-decoration: none;
}

.paragraphly__link_about_concentration:focus {
  outline: none;
}

.paragraphly__link_about_concentration:focus-visible {
  outline: 1px solid currentColor;
}

.paragraphly__link_about_concentration:hover {
  border-bottom: 1px solid currentColor;
}

/* Section_gallery */

.section_gallery .container_gallery {
  margin-block-start: 20px;
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows:repeat (3, 1fr);
  gap: 20px;
  grid-template-areas: 
    "container_gallery--sunset container_gallery--sunset container_gallery--ice_cream"
    "container_gallery--tape container_gallery--books container_gallery--ice_cream"
    "container_gallery--tape container_gallery--natural container_gallery--natural";
}

.section__container_gallery .section__title--image {
  width: 100%;
  color: var(--header-title-color);
}

.container_gallery .img_gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.container_gallery--sunset {
  grid-area: container_gallery--sunset;
  block-size: 260px;
}

.container_gallery--ice_cream {
  grid-area: container_gallery--ice_cream;
}

.container_gallery--tape {
  grid-area: container_gallery--tape;
}

.container_gallery--books {
  grid-area: container_gallery--books;
  block-size: 315px;
}

.container_gallery--natural {
  grid-area: container_gallery--natural;
  block-size: 428px;
  margin-top: 5px;
}

@media (width < 1024px) {

  .section_list {
    padding: 81px 20px 0 20px;
  }

  .section_list_word {
    padding-block-start: 60px;
  }
  
  .section_list .section__concentraition_special {
    display: flex;
  }

  .section__title {
    flex: 0 0 32.5%;
    width: 32.5%;
  }

  .section_list_word-special .section__title--special {
    flex: 0 0 25%;
    width: 25%;
  }

  .container_gallery--sunset {
    block-size: 192px;
  }
  
  .container_gallery--books {
    block-size: 230px;
  }
  
  .container_gallery--natural {
    block-size: 318px;
    margin-top: 0px;
  }
}

@media (width < 768px) {

  .section_list {
    display: flex;
    flex-direction: column;
    padding: 52px 10px 0 10px;
    gap: 20px;
  }

  .section_list_word {
    padding-block-start: 40px;
  }

  .section__title {
    flex: 0 0 80%;
    width: 80%;
  }

  .section_list_word-special .section__title--special {
    width: 100%;
  }

  .section_list_word_conc .section__title {
    width: 100%;
  }

  .section_list .section__concentraition_special {
    display: flex;
  }

  .section_gallery .container_gallery {
    display: flex;
    flex-direction: column;
    margin-block-start: 10px;
    gap: 10px;
  }

  .container_gallery--sunset {
    block-size: 142px;
  }
  
  .container_gallery--ice_cream {
    block-size: 355px;
  }
  
  .container_gallery--tape {
    block-size: 237px;
  }
  
  .container_gallery--books {
    block-size: 355px;
  }
  
  .container_gallery--natural {
    block-size: 237px;
    margin-top: 0px;
  }
}

/* footer */

.footer {
  position: relative;
  height: 100vh;
  margin-block-start: 60px;
}

.footer_conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.title_footer {
  font-weight: 700;
  padding-block-start: 27.5%;
  padding-block-end: 27.7%;
  color: var(--header-color);
  font-family: inherit;
  text-align: center;
  font-size: var(--logo-size);
  text-shadow: 3px 2px 0px var(--accent-header-color);
}

@media (width < 1024px) {
  .footer {
    padding: 436px 0;
    /* margin-left: 20px; */
  }

  .title_footer {
    padding-block: 0;
    text-shadow: 3px 2px 0px var(--accent-color-header);
  }
  
}

@media (width < 768px) {
  .footer {
    padding-block: 275px;
    margin-block-start: 40px;
  }

  .footer_conteiner {
    padding: 0 0;
  }

  .title_footer {
    font-size: var(--logo-size-mobile);
    line-height: 82.5%;
    padding-block: 3.5%;
    text-shadow: 3px 2px 0px var(--accent-color-header);
  }
}